.card-title {
    height: 20px;
    background-color: var(--ion-color-primary);
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.icon {
    color: var(--ion-color-primary-contrast);
}