<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <clear />
    <add key="BarsUp" value="https://barsgroup.myget.org/F/barsup-net-dev/auth/4ac4460c-7a64-4a25-bf7d-b468e678f969/" />
    <add key="common" value="https://barsgroup.myget.org/F/common/auth/4ac4460c-7a64-4a25-bf7d-b468e678f969/" />
    <add key="nuget-v3" value="https://api.nuget.org/v3/index.json" />
    <add key="paid" value="https://barsgroup.myget.org/F/paid/auth/4ac4460c-7a64-4a25-bf7d-b468e678f969/" />
  </packageSources>
  <fallbackPackageFolders>
    <clear />
  </fallbackPackageFolders>
</configuration>