<ion-content>
  <app-loading *ngIf="isLoading"></app-loading>

  <form #form="ngForm" *ngIf="!isLoading" (ngSubmit)="authorize(form)" style="height: 100%;">
    <ion-grid style="height: 100%; display: flex;">
      <ion-row color="primary" class="ion-justify-content-center" style="flex-grow: 1;">
        <ion-col class="ion-align-self-center" size-md="6" size-lg="5" size-xs="12">

          <ion-card>
            <ion-card-header color="tertiary">
              <ion-card-title class="ion-text-center">
                {{appDisplay}}
              </ion-card-title>
            </ion-card-header>

            <ion-card-content>
              <ion-item class="ion-margin-top">
                <ion-icon name="person-circle-outline" slot="start"></ion-icon>
                <ion-input name="login" placeholder="Логин" ngModel required></ion-input>
              </ion-item>
              <ion-item class="ion-margin-top">
                <ion-icon name="lock-closed-outline" slot="start"></ion-icon>
                <ion-input name="password" type="password" placeholder="Пароль" ngModel required></ion-input>
              </ion-item>

              <div padding class="ion-margin-top">
                <ion-button size="large" type="submit" [disabled]="form.invalid" expand="block" color="primary">Войти
                </ion-button>
              </div>
            </ion-card-content>
          </ion-card>

        </ion-col>
      </ion-row>
    </ion-grid>
  </form>
</ion-content>